<p>popup-form works!</p>



<h2 mat-dialog-title>Vacation Request</h2>




<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>First campaign</mat-label>
  <mat-date-range-input
    [formGroup]="campaignOne"
    [rangePicker]="campaignOnePicker"
    [comparisonStart]="campaignTwo.value.start"
    [comparisonEnd]="campaignTwo.value.end">
    <input matStartDate placeholder="Start date" formControlName="start">
    <input matEndDate placeholder="End date" formControlName="end">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
  <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
</mat-form-field>

<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Second campaign</mat-label>
  <mat-date-range-input
    [formGroup]="campaignTwo"
    [rangePicker]="campaignTwoPicker"
    [comparisonStart]="campaignOne.value.start"
    [comparisonEnd]="campaignOne.value.end">
    <input matStartDate placeholder="Start date" formControlName="start">
    <input matEndDate placeholder="End date" formControlName="end">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="campaignTwoPicker"></mat-datepicker-toggle>
  <mat-date-range-picker #campaignTwoPicker></mat-date-range-picker>
</mat-form-field>




<mat-dialog-content class="mat-typography">
  <h3>Dates</h3>


  <h3>Vacation Type</h3>



</mat-dialog-content>


<mat-form-field appearance="fill">
  <mat-label>Vacation Type</mat-label>
  <mat-select disableRipple>
    <mat-option value="1">Paid Day Off (PD)</mat-option>
    <mat-option value="2">Unpaid Day Off (UD)</mat-option>
    <mat-option value="3">Another Day Off (AD)</mat-option>
  </mat-select>
</mat-form-field>


<mat-dialog-actions align="end">

  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Send</button>

</mat-dialog-actions>
