@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Open Sans, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}



.example-form-field {
  margin: 0 8px 16px 0;
}
